* {
  font-family: 'Roboto';
}
.SearchPageContainer {
  background-color: rgb(177, 139, 194);
  padding: 10px;
  min-height: 94vh;
  max-height: 100%;
  text-align: center;
}
.mainHeading {
  text-align: center;
}
.searchInputItem {
  width: 250px;
  height: 30px;
  margin-bottom: 15px;
  outline: none;
  font-size: 14px;
}
.searchButton {
  padding: 7px 12px 7px 12px;
  background-color: rgb(188, 194, 223);
  border-style: solid;
  border-width: 0px;
  border-radius: 3px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}
.unList {
  list-style-type: none;
  padding-left: 0px;
}
